:root {
    --main-font: "Public Sans", sans-serif;
    --primary-color: rgb(32, 33, 46);
    --secondary-color: rgb(146, 56, 149);
    --white: #fff;
}
html {
    font-size: 16px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--main-font);
}

p, h1, label {
    color: var(--white);
}

.welcome {
    margin-top: 15vh;
    border-radius: 15px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.triviaHeading {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.chooseCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 2.5rem;
}

.chooseCategory label {
    margin-right: 0.5rem;
}

.go {
    width: 5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    border-radius: 25px;
    border: none;
    margin: 2.5rem;
    background-color: var(--secondary-color);
    color: var(--white);
    font-weight: bold;
}

.go:hover {
    scale: 1.2;
}

.scoreTracker {
    width: 6rem;
    margin: 1.5rem;
    text-align: center;
}

@keyframes numberAnimation {
    0% {transform: scale(1)}
    60% {transform: scale(1.3)}
    100% {transform: scale(1)}
}

.numberAnimation {
    animation: numberAnimation 1.5s ease-in-out;
}

.score {
    font-size: 3rem;
    margin: 0;
    display: inline-block;
}

pre {
    white-space: pre-wrap;
    font-family: var(--main-font);
}
.questionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 55vh;
    border-radius: 15px;
    background-color: var(--primary-color);
}

.questionCard button:hover {
    scale: 1.1;
}

.questionNumber {
    font-size: 1.5rem;
}

@keyframes slideInSlow {
    0% {transform: translateX(100%);}
    80% {transform: translateX(-5%);}
    100% {transform: translateX(0);}
}

.scoreCard {
    border-radius: 15px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slideInSlow 1s ease-out 1;
}

.scoreCard p, .scoreCard label {
    color: var(--white);
}

.scoreMessage {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem;
}

.invisible {
    display: none;
}

.question {
    margin: 1rem 4rem 0 4rem;
    font-weight: bold;
}

.options {
    width: 70%;
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
}

.submitButton {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.4rem;
    border-radius: 25px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--white);
    position: absolute;
    bottom: 3rem;
    right: 0;
    left: 0;
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    .question {
        margin: 1rem 2rem 0 2rem;
    }

};