html {
    font-size: 16px;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url(background.png);
}

.difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
}

.difficulty p {
    margin: 0.5rem;
}

.scoreAndOptions {
    color: #fff;
    margin: 1.5rem;
}

.score {
    font-size: 3rem;
    margin: 0;
}
pre {
    white-space: pre-wrap;
}
.questionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 50vh;
    border-radius: 15px;
    background-color: rgb(198, 216, 237);
}

.question {
    margin: 1rem 4rem 0 4rem;
    font-weight: bold;
}

.options {
    width: 70%;
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
}

.submitButton {
    width: 15rem;
    height: 1.5rem;
    border-radius: 15px;
    background-color: rgb(76, 106, 188);
    color: #fff;
    position: absolute;
    bottom: 3rem;
    right: 0;
    left: 0;
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    .question {
        margin: 1rem 2rem 0 2rem;
    }

};