html {
    font-size: 16px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}

.difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
}

.difficulty p {
    margin: 0.5rem;
}

pre {
    white-space: pre-wrap;
}
.questionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 10vh;
    height: 40vh;
    aspect-ratio: 3/2;
    border-radius: 3%;
    background-color: rgb(164, 199, 199);
}

p {
    /* height: 7rem; */
    margin: 0 4rem;
}

/* .answerInput {
    width: 100%;
    height: 7rem;
    border-radius: 7%;
} */

.options {
    width: 70%;
    display: flex;
    flex-direction: column;
}