:root {
    --main-font: "Public Sans", sans-serif;
}
html {
    font-size: 16px;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url(background.png);
    font-family: var(--main-font);
}

.difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
}

.difficulty p {
    margin: 0.5rem;
}

.scoreTracker {
    color: #fff;
    margin: 1.5rem;
}

@keyframes numberAnimation {
    0% {transform: scale(1)}
    60% {transform: scale(1.3)}
    100% {transform: scale(1)}
}

.numberAnimation {
    animation: numberAnimation 1.5s ease-in-out;
}

.score {
    font-size: 3rem;
    margin: 0;
    display: inline-block;
}

pre {
    white-space: pre-wrap;
    font-family: var(--main-font);
}
.questionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 50vh;
    border-radius: 15px;
    background-color: rgb(198, 216, 237);
}

@keyframes slideInSlow {
    0% {transform: translateX(100%);}
    80% {transform: translateX(-5%);}
    100% {transform: translateX(0);}
}

@keyframes zoomInAndFlipOut {
    0% {transform: scale(0) rotate(180deg); opacity: 0;}
    100% {transform: scale(1) rotate(720deg); opacity: 1;}
    /* 100% {transform: scale(0) rotate(360deg); opacity: 0;} */
}

.scoreCard {
    height: 30vh;
    border-radius: 15px;
    background-color: rgb(32, 33, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideInSlow 1s ease-out 1;
    /* animation: zoomInAndFlipOut 1s ease-out 1; */
}

.scoreCard p, .scoreCard label {
    color: #fff;
}

.scoreMessage {
    font-size: 1.5rem;
}

.categories {
    display: flex;
}

.invisible {
    display: none;
}

.question {
    margin: 1rem 4rem 0 4rem;
    font-weight: bold;
}

.options {
    width: 70%;
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
}

.submitButton {
    width: 15rem;
    height: 1.5rem;
    border-radius: 15px;
    background-color: rgb(76, 106, 188);
    color: #fff;
    position: absolute;
    bottom: 3rem;
    right: 0;
    left: 0;
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    .question {
        margin: 1rem 2rem 0 2rem;
    }

};